:root {
  --Pale-blue: hsl(225, 100%, 94%);
  --Bright-blue: hsl(245, 75%, 52%);
  --Very-pale-blue: hsl(225, 100%, 98%);
  --Desaturated-blue: hsl(224, 23%, 55%);
  --Dark-blue: hsl(223, 47%, 23%);
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media only screen and (max-width: 375px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    background: url("../images/pattern-background-mobile.svg") no-repeat left
      top/cover;
    font-family: "Red Hat Display", sans-serif;
  }

  main {
    background-color: white;
    width: 41vh;
    text-align: center;
    margin: 1vh auto;
    padding-bottom: 3.5vh;
    border: none;
    border-radius: 15px;
  }

  .img-container {
    content: url("../images/illustration-hero.svg");
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }

  article h1 {
    margin: 3vh auto 1vh;
    color: var(--Dark-blue);
    font-weight: 900;
  }

  article p {
    margin: 0 auto 1rem;
    text-align: center;
    padding: 0rem 1rem;
    font-size: 14px;
    font-weight: 500;
    color: var(--Desaturated-blue);
  }

  .price-container {
    width: 90%;
    padding: 1.5vh;
    font-size: 14px;
    text-align: center;
    margin: 0 auto;
    border: none;
    border-radius: 15px;
    background-color: var(--Very-pale-blue);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }

  .price-container a {
    color: var(--Bright-blue);
    font-weight: 700;
    padding-left: 3.5vh;
  }
  .middle-container {
    display: block;
    margin-left: 0.5vh;
    color: var(--Dark-blue);
    font-weight: 900;
    margin-left: 2vh;
  }

  .price-tag {
    text-decoration: line-through;
    color: var(--Desaturated-blue);
    font-weight: 500;
  }

  .price-tag:hover {
    color: var(--Dark-blue);
  }

  .proceedtoPayment button {
    margin: 3vh auto 2.5vh;
    width: 90%;
    border-radius: 8px;
    background: var(--Bright-blue);
    padding: 2vh;
    border: none;
    color: white;
    font-weight: 700;
    letter-spacing: 1px;
    font-family: "Red Hat Display", sans-serif;
  }

  .proceedtoPayment button:hover {
    background: var(--Dark-blue);
  }
  .proceedtoPayment a {
    letter-spacing: 1px;
    margin: 0vh auto 4vh;
    color: var(--Desaturated-blue);
    text-decoration: none;
    font-weight: 700;
    font-family: "Red Hat Display", sans-serif;
  }
}
