:root {
  --Pale-blue: hsl(225, 100%, 94%);
  --Bright-blue: hsl(245, 75%, 52%);
  --Very-pale-blue: hsl(225, 100%, 98%);
  --Desaturated-blue: hsl(224, 23%, 55%);
  --Dark-blue: hsl(223, 47%, 23%);
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (max-width: 748px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    background: url("../images/pattern-background-mobile.svg") no-repeat top
      left/cover;
    font-family: "Red Hat Display", sans-serif;
  }

  main {
    width: 40vh;
    text-align: center;
    margin: 3vh auto;
    border-radius: 15px;
    background-color: white;
    display: flex;
    flex-direction: column;
  }

  #img-container {
    content: url("../images/illustration-hero.svg");
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    max-width: 100%;
    width: 100%;
  }

  article h1 {
    padding: 2rem 2rem 0;
    font-weight: 900;
    color: var(--Dark-blue);
  }

  article p {
    font-size: 16px;
    font-weight: 500;
    padding: 0.8rem 1.1rem 0;
    line-height: 1.5;
    color: var(--Desaturated-blue);
  }

  .price-container {
    margin: 1rem auto;
    width: 85%;
    border-radius: 15px;
    padding: 1rem;
    background: var(--Very-pale-blue);
    color: var(--Desaturated-blue);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 13px;
  }

  .middle-container {
    display: flex;
    flex-direction: column;
    color: var(--Dark-blue);
    font-weight: 900;
  }

  .price-tag {
    text-decoration: line-through;
    color: var(--Desaturated-blue);
    font-weight: 500;
  }

  .price-container a {
    color: var(--Bright-blue);
    font-weight: 900;
    padding-left: 1rem;
  }

  button {
    background: var(--Bright-blue);
    color: white;
    width: 87%;
    padding: 1rem 2rem;
    border: none;
    margin: 0.5rem auto 1rem;
    border-radius: 15px;
    font-weight: 900;
    font-family: "Red Hat Display", sans-serif;
    box-shadow: 2px 2px 2px rgb(216, 214, 214);
  }
  .proceedtoPayment {
    margin-bottom: 1.4rem;
  }
  .cancelOption {
    color: var(--Desaturated-blue);
    text-decoration: none;
    font-family: "Red Hat Display", sans-serif;
    font-weight: 900;
    margin: 0 auto;
    padding: 1rem 2rem;
    font-size: 14px;
  }
}
@media (min-width: 748px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    background: url("../images/pattern-background-desktop.svg") no-repeat
      top/cover;
    font-family: "Red Hat Display", sans-serif;
  }

  main {
    text-align: center;
    margin: 3vh auto;
    border-radius: 15px;
    width: 55vh;
    background-color: white;
    display: flex;
    flex-direction: column;
  }

  #img-container {
    content: url("../images/illustration-hero.svg");
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    max-width: 100%;
    width: 100%;
  }

  article h1 {
    padding: 2rem 2rem 0;
    font-weight: 900;
    color: var(--Dark-blue);
  }

  article p {
    font-size: 15px;
    font-weight: 500;
    padding: 0.8rem 3.5rem 0;
    line-height: 1.5;
    color: var(--Desaturated-blue);
  }

  .price-container {
    margin: 1rem auto;
    width: 80%;
    border-radius: 15px;
    padding: 1rem;
    background: var(--Very-pale-blue);
    color: var(--Desaturated-blue);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-size: 14px;
  }

  .price-container a {
    color: var(--Bright-blue);
    font-weight: 900;
    padding-left: 3rem;
  }

  .middle-container {
    display: flex;
    flex-direction: column;
    margin-left: 1.2rem;
    color: var(--Dark-blue);
    font-weight: 900;
  }

  .price-tag {
    text-decoration: line-through;
    color: var(--Desaturated-blue);
    font-weight: 500;
  }

  button {
    display: block;
    background: var(--Bright-blue);
    color: white;
    width: 80%;
    padding: 1rem 2rem;
    border: none;
    margin: 0.5rem auto 1rem;
    border-radius: 15px;
    font-weight: 900;
    font-family: "Red Hat Display", sans-serif;
    box-shadow: 2px 2px 2px rgb(216, 214, 214);
  }
  .proceedtoPayment {
    margin-bottom: 1.4rem;
  }
  .cancelOption {
    color: var(--Desaturated-blue);
    text-decoration: none;
    font-family: "Red Hat Display", sans-serif;
    font-weight: 900;
    margin: 0 auto;
    padding: 1rem 0rem;
    font-size: 14px;
  }
}
