:root {
  --Pale-blue: hsl(225, 100%, 94%);
  --Bright-blue: hsl(245, 75%, 52%);
  --Very-pale-blue: hsl(225, 100%, 98%);
  --Desaturated-blue: hsl(224, 23%, 55%);
  --Dark-blue: hsl(223, 47%, 23%);
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media only screen and (max-width: 413px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    background: var(--Pale-blue) no-repeat left top/contain;
    font-family: "Red Hat Display", sans-serif;
  }

  main {
    background-color: white;
    max-width: 80%;
    text-align: center;
    margin: 1vh auto;
    padding-bottom: 4vh;
    border: none;
    border-radius: 15px;
  }

  .img-container {
    content: url("../images/illustration-hero.svg");
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }

  article h1 {
    margin: 4vh auto 1vh;
    color: var(--Dark-blue);
    font-weight: 900;
  }

  article p {
    margin: 1rem auto 1.5rem;
    line-height: 1.5;
    text-align: center;
    padding: 0rem 2rem;
    font-size: 14px;
    font-weight: 500;
    color: var(--Desaturated-blue);
  }

  .price-container {
    width: 85%;
    padding: 1.5vh;
    font-size: 14px;
    text-align: center;
    margin: 0 auto;
    border: none;
    border-radius: 15px;
    background-color: var(--Very-pale-blue);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  .price-container a {
    color: var(--Bright-blue);
    font-weight: 700;
    padding-left: 1.5vh;
    cursor: pointer;
  }
  .middle-container {
    display: block;
    margin-left: 0.5vh;
    color: var(--Dark-blue);
    font-weight: 900;
  }

  .price-tag {
    text-decoration: line-through;
    color: var(--Desaturated-blue);
    font-weight: 500;
  }

  .price-container a:hover {
    color: var(--Desaturated-blue);
  }

  .proceedtoPayment button {
    display: block;
    margin: 4vh auto 3vh;
    width: 85%;
    border-radius: 8px;
    background: var(--Bright-blue);
    padding: 2vh;
    border: none;
    color: white;
    font-weight: 700;
    letter-spacing: 1px;
    font-family: "Red Hat Display", sans-serif;
    cursor: pointer;
  }

  .proceedtoPayment button:hover {
    background: hsl(223, 22%, 49%);
  }
  .proceedtoPayment a {
    font-size: 14px;
    letter-spacing: 1px;
    margin: 0vh auto 4vh;
    color: var(--Desaturated-blue);
    text-decoration: none;
    font-weight: 700;
    font-family: "Red Hat Display", sans-serif;
  }
  .proceedtoPayment a:hover {
    color: rgb(102, 101, 101);
  }
}

@media only screen and (min-width: 413px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    background: var(--Pale-blue) no-repeat left top/contain;
    font-family: "Red Hat Display", sans-serif;
  }

  main {
    background-color: white;
    max-width: 80%;
    text-align: center;
    margin: 1vh auto;
    padding-bottom: 4vh;
    border: none;
    border-radius: 15px;
  }

  .img-container {
    content: url("../images/illustration-hero.svg");
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }

  article h1 {
    margin: 4vh auto 1vh;
    color: var(--Dark-blue);
    font-weight: 900;
  }

  article p {
    max-width: 75%;
    margin: 1rem auto 1.5rem;
    line-height: 1.5;
    text-align: center;
    padding: 0rem 1rem;
    font-size: 14px;
    font-weight: 500;
    color: var(--Desaturated-blue);
  }

  .price-container {
    max-width: 85%;
    padding: 1.5vh;
    font-size: 14px;
    text-align: center;
    margin: 0 auto;
    border: none;
    border-radius: 15px;
    background-color: var(--Very-pale-blue);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  .price-container a {
    color: var(--Bright-blue);
    font-weight: 700;
    padding-left: 1.5vh;
    cursor: pointer;
  }
  .middle-container {
    display: block;
    margin-left: 0.5vh;
    color: var(--Dark-blue);
    font-weight: 900;
  }

  .price-tag {
    text-decoration: line-through;
    color: var(--Desaturated-blue);
    font-weight: 500;
  }

  .price-container a:hover {
    color: var(--Desaturated-blue);
  }

  .proceedtoPayment button {
    display: block;
    margin: 4vh auto 3vh;
    width: 85%;
    border-radius: 8px;
    background: var(--Bright-blue);
    padding: 2vh;
    border: none;
    color: white;
    font-weight: 700;
    letter-spacing: 1px;
    font-family: "Red Hat Display", sans-serif;
    cursor: pointer;
  }

  .proceedtoPayment button:hover {
    background: hsl(223, 22%, 49%);
  }
  .proceedtoPayment a {
    font-size: 14px;
    letter-spacing: 1px;
    margin: 0vh auto 4vh;
    color: var(--Desaturated-blue);
    text-decoration: none;
    font-weight: 700;
    font-family: "Red Hat Display", sans-serif;
  }
  .proceedtoPayment a:hover {
    color: rgb(102, 101, 101);
  }
}

@media only screen and (min-width: 513px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    background: var(--Pale-blue) no-repeat left top/contain;
    font-family: "Red Hat Display", sans-serif;
  }

  main {
    background-color: white;
    max-width: 60%;
    text-align: center;
    margin: 1vh auto;
    padding-bottom: 4vh;
    border: none;
    border-radius: 15px;
  }
}

@media only screen and (min-width: 613px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    background: var(--Pale-blue) no-repeat left top/contain;
    font-family: "Red Hat Display", sans-serif;
  }

  main {
    background-color: white;
    max-width: 50%;
    text-align: center;
    margin: 1vh auto;
    padding-bottom: 4vh;
    border: none;
    border-radius: 15px;
  }
}

@media only screen and (min-width: 768px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    background: var(--Pale-blue) no-repeat left top/contain;
    font-family: "Red Hat Display", sans-serif;
  }

  main {
    background-color: white;
    max-width: 45%;
    text-align: center;
    margin: 1vh auto;
    padding-bottom: 4vh;
    border: none;
    border-radius: 15px;
  }

  main p {
    padding: 0 1rem;
  }
}

@media only screen and (min-width: 900px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    background: var(--Pale-blue) no-repeat left top/contain;
    font-family: "Red Hat Display", sans-serif;
  }

  main {
    background-color: white;
    max-width: 30%;
    text-align: center;
    margin: 1vh auto;
    padding-bottom: 4vh;
    border: none;
    border-radius: 15px;
  }

  main p {
    padding: 0 1rem;
  }
}
